.App {
  background-color: rgba(53, 50, 50, 0.259);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 10vw;
  border: 1px solid rgba(129, 5, 129, 0.705);
  border-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.die {
  background-color: rgba(255, 217, 0, 0.974);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.225),
    -2px -2px 4px 0 rgba(0, 0, 0, 0.225);
}
